{% extends "zerver/base.html" %}

{# User Activity. #}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block customhead %}
{{ super() }}
{{ render_bundle('activity') }}
{% endblock %}

{% block content %}

    {% if not is_home %}
    <a class="show-all" href="/activity">Home</a>
    <br />
    {% endif %}

    <h4>{{ title }}</h4>

    {% if realm_link %}
    <a href="{{ realm_link }}">Graph</a><br />
    {% endif %}

    <ul class="nav nav-tabs">
        {% for name, activity in data %}
        <li {% if loop.first %} class="active" {% endif %}>
            <a href="#{{ name|slugify }}" data-toggle="tab">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content">

        {% for name, activity in data %}

        <div class="tab-pane {% if loop.first %} active {% endif %}" id="{{ name|slugify }}">
            {{ activity|safe }}
        </div>

        {% endfor %}

    </div>

    <div class="page-content">
        <div id="id_stats_errors" class="alert alert-error"></div>
        <div class="center-charts">
            <div class="left">
                <div class="chart-container">
                    <h1>{{ _("Installations over time") }}</h1>
                    <div class="button-container">
                        <label>{{ _("Aggregation") }}</label>
                        <div class="buttons">
                            <button class="button" type="button" id='daily_button'>{{ _("Daily") }} </button>
                            <button class="button" type="button" id='weekly_button'>{{ _("Weekly") }} </button>
                            <button class="button" type="button" id='cumulative_button'>{{ _("Cumulative") }} </button>
                        </div>
                    </div>
                    <div id="id_new_realms_over_time">
                        <div class="spinner"></div>
                    </div>
                    <div id="hoverinfo">
                        <span id="hover_date"></span>
                        <span id="hover_value"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
