{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/registration_confirmation.png"/>
{% endblock %}

{% block content %}
<p>Hello,
</p>
<p>
  You recently started the process of registering your server
  with the Zulip mobile push notification service.
</p>
<p>
    To complete registration, please click here:
    <a class="button" href="{{ activate_url }}">Complete registration</a>
</p>
<p>
    Feel free to give us a shout at <a href="mailto:{{ support_email }}">{{ support_email }}</a>, if you have any questions.
</p>
<p>
    Cheers,<br />
    Team Zulip
</p>
{% endblock %}
